@page
@model KeweenawCheeseSite.Pages.Goudabase.IndexModel
@{
    ViewData["Title"] = "Goudabase - KeweenawCheese";

}

<div class="text-center">
    <h1>Welcome to the Goudabase!</h1>
    <h3>An informational repository dedicated to cheese.</h3>

    <div class="row">
        <div class="col-md-6 col-12">
            Cheeses
        </div>
        <div class="col-md-6 col-12">
            Recipes
        </div>
    </div>
</div>