@page
@model KeweenawCheeseSite.Pages.UnderConstructionModel
@{
    Layout = "CleanLayoutBlack";
    ViewData["Title"] = "Cheesy Goodness - Under Construction";
}

<div class="w-100 text-center">
    <img src="pictures/Construction.jpg" />
</div>